<div>
  <input [(ngModel)] = "filtering" type = "text" > 
  <button (click) = "toFilter()">
    filter Table
  </button> <br>


</div>



<div>

  <mat-table [dataSource]="movies" class="mat-elevation-z8">
 
    <ng-container matColumnDef="$id">
      <mat-header-cell *matHeaderCellDef> Movie ID  </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{ element.$id }} </mat-cell>
    </ng-container>
 
  

    
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title  </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="studio">
      <mat-header-cell *matHeaderCellDef> Studio </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.Studio }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="income">
      <mat-header-cell *matHeaderCellDef> Weekend Income </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.WeekendIncome }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef> Delete </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button (click) = "toDelete(element)"> Delete Movie</button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

</div>

<div style = "text-align: center; padding-top: 40px; width: 80%">The movie you deleted is: {{ name }}</div>